VITE_SUPABASE_URL=https://csolbdaldnnwgmhihvlg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzb2xiZGFsZG5ud2dtaGlodmxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDE0NTQsImV4cCI6MjA5NDg3NzQ1NH0.OLz_Bg4oZWmKvG7C9DTjE51x2L_F-RDzz4xN-sWdNtE
